body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
	line-height: 1.5;
}
main h1 {text-transform: capitalize;}



h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.titulo-principal {
	text-align: center;
	background-color: #851944;
	color: #FFF;
	padding: 25px;
	border-bottom: 10px solid black;
}

main div{
    padding: 40px 0;
    padding-bottom: 80px;
}

strong{
    font-weight: bold;
}
em{
    font-style: italic;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 30px;
    clear: both;
}

p {
	text-align: justify;
    margin: 20px 0; 
}

blockquote {
	background-color: #D9E5E3;
	border: 10px solid #C2CCCA;
	width: 250px;
	box-sizing: border-box;
}

aside {
	background-color: #3C1D3D;
	color: #F2FFFC;
}

footer {
	
}

nav a {
	color: #F2FFFC;
}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

main a {
	color: #851944;
}

aside a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

blockquote, aside, footer {
    padding: 20px 40px;
}

main div {
	width: 720px;
	margin: auto;
}

.foto{
    float: right;
}

main{
    float: left;
    width: 85%;
}
aside, .foto {
	text-align: center;
    display: inline-block;
    float: right;
    clear: right;
    
    box-sizing: border-box;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
}
aside{
    width: 15%;
    position: relative;
    top: 300px;
    margin-bottom: 80px;
}

.foto{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    right: 0;
}
.social{
    display: inline-block;
}

.footer-pagina{
    background-color: #000;
	color: #F2FFFC;
    clear: both;
    position: absolute;
    bottom: 0;
    position: fixed;
    width: 100%;
}
.fiat{
    float: right;
    margin-left: 15px;
}
.petrobras{
    float: left;
    margin-right: 15px;
}
