html{
    font-size: 120%;
    
}

body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	
	line-height: 1.5;
}
main h1 {
    text-transform: capitalize;
}



h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.titulo-principal {
	text-align: center;
	background-color: #851944;
	color: #FFF;
	padding: 1.5rem;
	border-bottom: .5rem solid black;
}

main div{
    padding: 1.25rem 0rem;
    padding-bottom: 3.5rem;
}

strong{
    font-weight: bold;
}
em{
    font-style: italic;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 1.5rem;
    clear: both;
}

p {
	text-align: justify;
    margin: 1em 0; 
}

blockquote {
	background-color: #D9E5E3;
	border: .5em solid #C2CCCA;
	width: 30ch;
	box-sizing: border-box;
}

aside {
	background-color: #3C1D3D;
	color: #F2FFFC;
}

footer {
	
}

nav a {
	color: #F2FFFC;
}

aside h1 {
    font-size: 1.5em;
    margin-bottom: 1.25rem;
}

main a {
	color: #851944;
}

aside a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

blockquote, aside, footer {
    padding: 1.20rem 2rem;
}

main div {
	width: 53%;
	margin: auto;
}

.foto{
    float: right;
}

main{
    float: left;
    width: 85%;
}
aside, .foto {
	text-align: center;
    display: inline-block;
    float: right;
    clear: right;
    
    box-sizing: border-box;
    border-bottom: .5rem solid black;
    border-left: .5rem solid black;
}
aside{
    width: 15%;
    position: relative;
    top: 300px;
    margin-bottom: 3rem;
}

.foto{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    right: 0;
}
.social{
    display: inline-block;
}

.footer-pagina{
    background-color: #000;
	color: #F2FFFC;
    clear: both;
    position: absolute;
    bottom: 0;
    position: fixed;
    width: 100%;
}
.fiat{
    float: right;
    margin-left: 1.25rem;
}
.petrobras{
    float: left;
    margin-right: 1.25rem;
}
