body{
	text-align: center;
	color: #fff;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #6B6B6B;
	width: 100%;
	justify-content: space-between;
	margin: 10px;
	border-bottom: 1px solid #949494;
	text-align: center;
		
}
.lista{
	display: inline-block;
	}
.lista ul{
	display: flex;
	flex-direction: row;

}
.lista ul li{
	margin: 0 15px;
	display: flex;
	flex-wrap: wrap;

}

nav #pesquisa {
	width: 500px;
	border-radius: 30px;
	padding:  5px 1em ;
}
.logo img{
	width: 50px;
	vertical-align: middle;
	margin-left: 10px;
}
.content{
	
	max-width: 960px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	align-content:stretch;

}
.content div{
	background: #333;
	border-radius: 10px;
	width: auto;
	margin: 10px;
	max-width: 20%;
	max-height: 300px;
}

main img{
	width: 100%;
	border-radius: 20px;
}
