body{
	text-align: center;
	color: #fff;
}

/*header*/

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #6B6B6B;
	width: 100%;
	justify-content: space-between;
	margin: 10px;
	border-bottom: 1px solid #949494;
	text-align: center;
		
}
.lista{
	display: inline-block;
	}
.lista ul{
	display: flex;
	flex-direction: row;

}
.lista ul li{
	margin: 0 15px;
	display: flex;
	flex-wrap: wrap;

}

nav #pesquisa {
	width: 500px;
	border-radius: 30px;
	padding:  5px 1em ;
}
.logo img{
	width: 50px;
	vertical-align: middle;
	margin-left: 10px;
}
/*Corpo*/

body {
	background: #FFFFFF;
  font-family: Calluna, Arial, sans-serif;
  min-height: 1000px;
}
#columns {
	column-width: 320px;
	column-gap: 15px;
  width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}

div#columns figure {
	margin: 0 2px 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
 	display: inline-block;
 	column-break-inside: avoid;
}

div#columns figure img {
	width: 100%; height: auto;
	padding-bottom: 15px;
	margin-bottom: 5px;
	border-radius: 10px;
}

div#columns figure figcaption {
  font-size: .9rem;
	color: #444;
  line-height: 1.5;
}

div#columns small { 
  font-size: 1rem;
  float: right; 
  text-transform: uppercase;
  color: #aaa;
} 

div#columns small a { 
  color: #666; 
  text-decoration: none; 
  transition: .4s color;
}

div#columns:hover figure:not(:hover) {
	opacity: 0.4;
}

@media screen and (max-width: 750px) { 
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}