//Mixin usadas no meu Scss



%image-replacement{
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

@function multiplica-pela-fonte($multiplicador){
	@return round($multiplicador * $tamamnho-da-fonte-padrao);
}


////////////////////////////////////////////// Compass
@import "compass/css3";
@import "compass/utilities";
